<!-- Copyright (c) P. Hein, IPC, RWTH Aachen University. -->
<!-- Distributed under GPL v3 license (see LICENSE.txt file in the solution root folder). -->

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
    <ComponentGroup Id="BaseComponents" Directory="INSTALLFOLDER">
      
        <Component>
            <File Id="iCon.exe" 
			      Source="$(iCon.TargetDir)iCon.exe" 
			      KeyPath="yes" 
			      Checksum="yes">
                <Shortcut Name="!(loc.AppName)" 
				          Directory="ProgramMenuFolder" 
				          WorkingDirectory="INSTALLFOLDER" 
				          Icon="ApplicationIcon.exe" 
				          IconIndex="0" 
				          Advertise="yes" />
            </File>
        </Component>

        <Files Include="$(iCon.TargetDir)*.dll" />

		<Files Include="$(iCon.TargetDir)*.json" />

		<File Source="$(iCon.TargetDir)iConSimulator_Win.exe" Checksum="yes" />
		<File Source="$(iCon.TargetDir)iConSearcher_Win.exe" Checksum="yes" />

		<File Source="$(iCon.TargetDir)Source.zip" />
      
        <File Source="$(iCon.TargetDir)ElementsDrawInfo.ini" />

		<File Name="License.txt" Source="$(iCon.TargetDir)EULA.txt" />
		
	</ComponentGroup>
    </Fragment>

    <Fragment>
    <ComponentGroup Id="ScriptComponents" Directory="ScriptsFolder">

        <Files Include="$(iCon.TargetDir)DefaultScripts\*" />
      
    </ComponentGroup>
    </Fragment>

</Wix>